@import "./vars.scss";
@import "./basics.scss";
@import "./hljs.scss";

.actions {
  align-items: center;
  display: -webkit-box;
  display: flex;
  justify-content: center;
  margin-top: 4.8rem;
  margin-bottom: 4.8rem;
}

.actions__cta {
  margin: 0 1.5rem;
}

code.hljs {
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20vh 0;
}

@media screen and (max-width: 768px) {
  .hero {
    position: relative;
    top: -2rem;
  }
}

.hero__preTitle {
  color: var(--text-color);
  font-size: 0.75em;
  font-weight: 700;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  text-align: center;
}

.hero__title {
  color: var(--text-color);
  font-family: "Merriweather", Serif;
  font-size: 2.25em;
  font-weight: 700;
  line-height: 1.25;
  margin: 0 0 0.125em 0;
  text-align: center;
}

@media screen and (min-width: 48em) {
  .hero__title {
    font-size: 5.5rem;
  }
}

.hero__description {
  font-size: 1.8rem;
}

.footer {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.footer__text {
  padding: 0 2em;
}

@media screen and (min-width: 48em) {
  .footer__text {
    padding: 0;
  }
}

.footer__link {
  border-bottom: 1px dotted var(--text-color);
}

.footer__link:hover {
  border-bottom: 1px dotted var(--link-color-hover);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0 0;
  align-items: center;
}

@media screen and (min-width: 48em) {
  .header {
    padding: 2.5rem 0 0;
  }
}

.layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  margin: 0 auto;
  max-width: 48em;
  min-height: 100vh;
}

.logo {
  border: 0 !important;
  position: relative;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  width: 6rem;
  height: 3.7rem;
  display: block;
}

@media screen and (min-width: 500px) {
  .logo {
    width: 7rem;
    height: 5.5rem;
  }
}

@media screen and (min-width: 48em) {
  .logo {
    width: 8.5rem;
    height: 6.5rem;
  }
}

.logo:hover {
  border-color: transparent;
}

.logo__triangle {
  fill: var(--text-color);
  left: 50%;
  position: absolute;
  stroke: #4a4a4a;
  top: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  stroke-width: 2px;
}

.ui-dark .logo__triangle {
  fill: var(--background);
  stroke: var(--text-color);
}

.logo:hover .logo__triangle {
  stroke: var(--link-color-hover);
}

.logo__triangle--center {
  width: 4rem;
  z-index: 10;
}

@media screen and (min-width: 500px) {
  .logo__triangle--center {
    width: 6rem;
  }
}

@media screen and (min-width: 48em) {
  .logo__triangle--center {
    width: 7rem;
  }
}

.logo__triangle--left,
.logo__triangle--right {
  top: 0.5rem;
  width: 3rem;
}

@media screen and (min-width: 500px) {
  .logo__triangle--left,
  .logo__triangle--right {
    width: 4rem;
  }
}

@media screen and (min-width: 48em) {
  .logo__triangle--left,
  .logo__triangle--right {
    width: 5rem;
  }
}

.logo__triangle--left {
  -webkit-transform: translateX(-85%);
  transform: translateX(-85%);
}

.logo:hover .logo__triangle--left {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.logo__triangle--right {
  -webkit-transform: translateX(-15%);
  transform: translateX(-15%);
}

.logo:hover .logo__triangle--right {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.menu {
  text-align: right;
}

.menu__item {
  display: inline-block;
  margin: 0;
  padding: 0 0 0 0.5em;
}

@media screen and (max-width: 500px) {
  .menu__item {
    padding: 0 0 0 0.25em;
  }
}

.menu__link {
  border: 0 !important;
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: var(--link-color-hover);
  }
}

@media screen and (max-width: 500px) {
  .menu__link {
    font-size: 1.2rem;
  }
}

.postsList {
  max-width: 38em;
  margin: 0rem auto 7rem;
}

@media screen and (max-width: 500px) {
  .postsList {
    margin: 0rem auto 4rem;
  }
}

.postsList__list {
  margin: 0;
  padding: 0;
}

.postsList__item {
  cursor: pointer;
  list-style-type: none;
  margin-bottom: 0;
  text-align: center;
  padding-top: 2rem;
}

a.postsList__link {
  border: 0 !important;
  color: var(--link-color);

  &:hover {
    color: var(--link-color-hover);
  }
}

.postsList__title {
  display: block;
  font-family: "Merriweather", Serif;
  margin-bottom: 1rem;
  font-size: 2.2rem;
}

@media screen and (min-width: 500px) {
  .postsList__title {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 48em) {
  .postsList__title {
    font-size: 4.5rem;
    line-height: 1.25;
  }
}

.postsList__date {
  color: var(--text-color);
  display: block;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .postsList__date {
    font-size: 1.25rem;
  }
}

.postsList__tag {
  display: inline-block;
  margin: 0 0.5rem;
}

.postContent__date {
  font-size: 1.4rem;
}

.wrapper {
  background-color: var(--background);
  box-shadow: inset 0 4px 0 0 var(--top-border);
  color: var(--text-color);
  padding: 0 1.5rem;
  transition: all 500ms ease;
}

@media screen and (min-width: 48em) {
  .wrapper {
    padding: 0;
  }
}

.cvlist {
  margin-top: 0;
}

.pageHome {
  text-align: center;
  width: 100%;

  .postsList {
    background: #262626;
    padding: 2rem;
    border-radius: 1rem;
    box-sizing: border-box;
  }

  .postsList__title {
    font-size: 2.2rem;
  }

  .postsList__button {
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.postContent {
  padding: 1em 0 0;
}

@media screen and (min-width: 48em) {
  .postContent {
    padding: 1em 6em 2em;
  }
}

.postContent__content {
  font-size: 1.8rem;
}

@media (min-width: 48em) {
  .postContent__content {
    font-size: 1.8rem;
  }
}

@media (min-width: 1024px) {
  .postContent__content {
    font-size: 2rem;
  }
}

.postContent__title {
  font-size: 2.5em;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 500px) {
  .postContent__title {
    margin-top: 0.67em;
  }
}

@media screen and (min-width: 48em) {
  .postContent__title {
    font-size: 4.8rem;
  }
}

.postContent__image {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 0;
  margin-right: 0;
}

@media screen and (min-width: 48em) {
  .postContent__image {
    margin-left: -4em;
    margin-right: -4em;
  }
}

.postContent__thumbnail {
  display: none;
}

@media screen and (min-width: 48em) {
  .postContent__thumbnail {
    display: block;
    border-radius: 1em;
    overflow: hidden;
  }
}

.postContent__text pre {
  max-width: 250px;
  font-size: 1.2rem;
}

@media screen and (min-width: 48em) {
  .postContent__text pre {
    max-width: 100%;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 768px) {
  .twitter-embed,
  .twitter-tweet-rendered {
    display: none;
  }
}

.postHeader {
  margin-top: 5rem;
  margin-bottom: 4rem;
}

@media screen and (max-width: 768px) {
  .postHeader {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

.u-center {
  text-align: center;
}

.u-strong {
  font-weight: 700;
}

.screen-reader-text {
  display: none;
}

hr {
  border: 0;
  height: 1px;
  background: var(--blackground);
  background-image: none;
  background-image: linear-gradient(
    to right,
    var(--blackground),
    var(--text-color),
    var(--blackground)
  );
  margin: 5rem 0;
}

.page {
  margin-top: 5rem;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

input.search-input {
  background-color: transparent;
  border: 1px solid #565656;
  font-size: 3rem;
  padding: 0.5em 1em;
  color: var(--grey);
  max-width: 40rem;
}

@media screen and (max-width: 500px) {
  input.search-input {
    max-width: 25rem;
  }
}

input.search-input:focus {
  border: 1px solid var(--red);
}

.Tag {
  font-size: 1.4rem;
  text-decoration: none;
  border: 0;
  background: var(--link-color-hover);
  border-radius: 2px;
  padding: 0.25em 0.5em;

  &:hover {
    border: 0;
    background: var(--link-color-hover-dark);
  }
}

.TagsList__item {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.PrevNextPosts {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 7rem;
}

.postContent__tags {
  margin-top: 2rem;
}

.postContent__tag {
  margin-right: 0.5rem;
  display: inline-block;
}

.Tags__seeAll {
  margin-top: 2rem;
}

iframe {
  margin-top: 1rem;
  width: 100%;
}
