---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<div class="main">
  <div class="pageHome">
    <div class="hero">
      <div class="hero__preTitle">
        Hi there, I'm Alessandro Muraro.
      </div>
      <h1 class="hero__title">I'm a frontend developer,<br>
      I do <span id="text">web 👋</h1>
    </div>


    
    {% set postslist = collections.posts | head(-3) %}
    <div class="postsList" id="posts-list">
      <h3>Latest posts</h3>
      
      {% for post in postslist | reverse %}
        <div class="postsList__item" data-title="{{ post.data.title }}">
          <h2 class="postsList__title">
            <a class="postsList__link" href="{{ post.url }}" rel="bookmark">
              {{ post.data.title }}
            </a>
          </h2>

          <div>
            <time class="postsList__date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
          </div>
        </div>
      {% endfor %}

      <div class="postsList__button">
        <a class="button" href="/posts">See all posts</a>
      </div>
    </div>
  </div>
</div>
<script>
;(function () {
  var emojiArray = ['💪', '⚛️', '👍', '🤦‍♀️', '😍', '🤞', '🚀', '🙏', '🤔', '😱', '🧐', '😮', '😶', '🍕', '🔥', '😅', '🤟', '🤙']
  var textArray = ['UX', 'React', 'websites', 'JavaScript', 'CSS', 'Sass', 'Redux', 'stuff', 'web apps', 'UI dev', 'HTML', 'refactoring', 'web']

  setInterval(function(){
    document.getElementById('text').innerText = textArray[Math.floor(Math.random() * textArray.length)] + ' ' + emojiArray[Math.floor(Math.random() * emojiArray.length)]
  }, 2000)
})();
</script>