        <footer class="footer">
          <div class="footer__container">
            <p class="footer__text">Find me on:<br>
              <a class="footer__link" href="https://twitter.com/akmur">Twitter</a>,
              <a class="footer__link" href="https://www.linkedin.com/in/alessandromuraro/">LinkedIn</a>,
              <a class="footer__link" href="https://github.com/akmur">Github</a>.
            </p>
          </div>
        </footer>
      </div>
    </div>
  </body>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.3/highlight.min.js"
      integrity="sha512-tHQeqtcNWlZtEh8As/4MmZ5qpy0wj04svWFK7MIzLmUVIzaHXS8eod9OmHxyBL1UET5Rchvw7Ih4ZDv5JojZww=="
      crossorigin="anonymous"
    ></script>
    <script>
      hljs.initHighlightingOnLoad();
    </script>

    <!-- Default Statcounter code for My Personal Website https://alexmuraro.me -->
    <script type="text/javascript">
    var sc_project=12470952; 
    var sc_invisible=1; 
    var sc_security="52b110a1"; 
    var sc_https=1; 
    </script>
    <script type="text/javascript"
    src="https://www.statcounter.com/counter/counter.js" async></script>
    <noscript><div class="statcounter"><a title="Web Analytics Made Easy -
    StatCounter" href="https://statcounter.com/" target="_blank"><img
    class="statcounter" src="https://c.statcounter.com/12470952/0/52b110a1/1/"
    alt="Web Analytics Made Easy - StatCounter"></a></div></noscript>
    <!-- End of Statcounter Code -->
</html>