        <footer class="footer">
          <div class="footer__container">
            <p class="footer__text">Find me on:<br>
              <a class="footer__link" href="https://twitter.com/akmur">Twitter</a>,
              <a class="footer__link" href="https://www.linkedin.com/in/alessandromuraro/">LinkedIn</a>,
              <a class="footer__link" href="https://github.com/akmur">Github</a>.
            </p>
          </div>
        </footer>
      </div>
    </div>
  </body>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.3/highlight.min.js"
      integrity="sha512-tHQeqtcNWlZtEh8As/4MmZ5qpy0wj04svWFK7MIzLmUVIzaHXS8eod9OmHxyBL1UET5Rchvw7Ih4ZDv5JojZww=="
      crossorigin="anonymous"
    ></script>
    <script>
      hljs.initHighlightingOnLoad();
    </script>
</html>