<div class="header">
  <a class="logo" href="/"><svg class="logo__triangle logo__triangle--left" style="isolation: isolate;" viewbox="217 167 106 96">
  <path d="M220 260l50-90 50 90H220z" vector-effect="non-scaling-stroke"></path></svg> <svg class="logo__triangle logo__triangle--center" style="isolation: isolate;" viewbox="217 167 106 96">
  <path d="M220 260l50-90 50 90H220z" vector-effect="non-scaling-stroke"></path></svg> <svg class="logo__triangle logo__triangle--right" style="isolation: isolate;" viewbox="217 167 106 96">
  <path d="M220 260l50-90 50 90H220z" vector-effect="non-scaling-stroke"></path></svg></a>
  <div id="nav">
    <div class="menu-wrapper">
      <ul class="menu">
        <li class="menu-item">
          <a href="/">Home</a>
        </li>
        <li class="menu-item">
          <a href="/posts/">Posts</a>
        </li>
        <li class="menu-item">
          <a href="/thoughts/">Thoughts</a>
        </li>
        <li class="menu-item">
          <a href="/about/">About</a>
        </li>
      </ul>
    </div>
  </div>
</div>