<div class="header">
  <div class="header__logo">
    <a class="logo" href="/"
      ><svg
        class="logo__triangle logo__triangle--left"
        style="isolation: isolate;"
        viewbox="217 167 106 96"
      >
        <path
          d="M220 260l50-90 50 90H220z"
          vector-effect="non-scaling-stroke"
        ></path>
      </svg>
      <svg
        class="logo__triangle logo__triangle--center"
        style="isolation: isolate;"
        viewbox="217 167 106 96"
      >
        <path
          d="M220 260l50-90 50 90H220z"
          vector-effect="non-scaling-stroke"
        ></path>
      </svg>
      <svg
        class="logo__triangle logo__triangle--right"
        style="isolation: isolate;"
        viewbox="217 167 106 96"
      >
        <path
          d="M220 260l50-90 50 90H220z"
          vector-effect="non-scaling-stroke"
        ></path>
      </svg>
    </a>
  </div>
  <div class="header__nav">
    <div id="nav">
      <div class="nav__menu">
        <ul class="menu">
          <li class="menu__item">
            <a class="menu__link" href="/">Home</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/posts/">Posts</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/about/">About</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
