---
title: Alex Muraro - frontend developer
---

{% include '_head.html' %} {% include '_nav.html' %}
<div id="main" class="main">
  <article class="page">
    {{ content | safe }}
  </article>
</div>
{% include '_footer.html' %}
