---
title: Alex Muraro - frontend developer
---

{% include '_head.html' %}
{% include '_nav.html' %}
<div class="main">
  <div class="pageHome">
    <div class="hero">
      <div class="hero__preTitle">
        Hi there, I'm Alessandro Muraro.
      </div>
      <h1 class="hero__title">I'm a frontend developer,<br>
      I do <span id="text">web 👋</h1>
    </div>
  </div>
</div>
<script>
;(function () {
  var emojiArray = ['💪', '⚛️', '👍', '🤦‍♀️', '😍', '🤞', '🚀', '🙏', '🤔', '😱', '🧐', '😮', '😶', '🍕', '🔥', '😅', '🤟', '🤙']
  var textArray = ['UX', 'React', 'websites', 'JavaScript', 'CSS', 'Sass', 'Redux', 'stuff', 'web apps', 'UI dev', 'HTML', 'refactoring', 'web']

  setInterval(function(){
    document.getElementById('text').innerText = textArray[Math.floor(Math.random() * textArray.length)] + ' ' + emojiArray[Math.floor(Math.random() * emojiArray.length)]
  }, 2000)
})();
</script>
{% include '_footer.html'  %}