---
title: Alex Muraro - frontend developer
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:700|Muli:300,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body class="ui-dark">
    <div class="wrapper">
      <div class="layout">
        {% include '_header.html'  %}
        <div class="main">
          <div class="postsList">
            {%- for post in collections.all | reverse -%}
              <div id="post-1565" class="postsList__item">
                <header class="entry-header">
                  <h2 class="postsList__title">
                    <a class="postsList__link" href="{{ post.url }}" rel="bookmark">
                      {{ post.data.title }}
                    </a>
                  </h2>

                  <div class="postsList__date">
                    {{ post.date.toUTCString() }}
                  </div>
                </header>
              </div>
            {%- endfor -%}
          </div>
        </div>
        {% include '_footer.html'  %}
      </div>
    </div>
  </body>
</html>