---
title: Alex Muraro - frontend developer
---

{% include '_head.html' %} {% include '_nav.html' %}
<div id="main" class="main">
  <article class="post">
    <header class="entry-header">
      {% if title %}
      <h1 class="pageContent__title title title--h1">
        {{ title }}
      </h1>
      {% endif %} {% if date %}
      <div class="pageContent__date date">
        Posted on {{ date.toUTCString() }}
      </div>
      {% endif %}
      <!-- .entry-meta -->
    </header>
    {% if featured_image %}
    <div class="pageContent__image">
      <div class="post-thumbnail">
        <img src="{{ featured_image }}" />
      </div>
    </div>
    {% endif %}
    {{ content | safe }}
  </article>
</div>
{% include '_footer.html' %}
