<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather:700|Muli:300,700&display=swap"
      rel="stylesheet"
    />
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ '/assets/favicons/apple-touch-icon.png' | url }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ '/assets/favicons/favicon-32x32.png' | url }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ '/assets/favicons/favicon-16x16.png' | url }}"
    />
    <link
      rel="mask-icon"
      href="{{ '/assets/favicons/safari-pinned-tab.svg' | url }}"
      color="#000000"
    />
    <link rel="shortcut icon" href="{{ '/assets/favicons/favicon.ico' | url }}" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta
      name="msapplication-config"
      content="{{ '/assets/favicons/browserconfig.xml' | url }}"
    />
  </head>
  <body class="ui-dark">
    <div class="wrapper">
      <div class="layout">
        <header class="header">
          <div class="header__logo">
            <a class="logo" href="/"
              ><svg
                class="logo__triangle logo__triangle--left"
                style="isolation: isolate;"
                viewbox="217 167 106 96"
              >
                <path
                  d="M220 260l50-90 50 90H220z"
                  vector-effect="non-scaling-stroke"
                ></path>
              </svg>
              <svg
                class="logo__triangle logo__triangle--center"
                style="isolation: isolate;"
                viewbox="217 167 106 96"
              >
                <path
                  d="M220 260l50-90 50 90H220z"
                  vector-effect="non-scaling-stroke"
                ></path>
              </svg>
              <svg
                class="logo__triangle logo__triangle--right"
                style="isolation: isolate;"
                viewbox="217 167 106 96"
              >
                <path
                  d="M220 260l50-90 50 90H220z"
                  vector-effect="non-scaling-stroke"
                ></path>
              </svg>
            </a>
          </div>
          <div class="header__nav">
            <div id="nav">
              <div class="nav__menu">
                <ul class="menu">
                  <li class="menu__item">
                    <a class="menu__link" href="/">Home</a>
                  </li>
                  <li class="menu__item">
                    <a class="menu__link" href="/posts/">Posts</a>
                  </li>
                  <li class="menu__item">
                    <a class="menu__link" href="/about/">About</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </header>

        <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
          {{ content | safe }}
        </main>

        <footer class="footer">
          <div class="footer__container">
            <p class="footer__text">Find me on:<br>
              <a class="footer__link" href="https://twitter.com/akmur">Twitter</a>,
              <a class="footer__link" href="https://www.linkedin.com/in/alessandromuraro/">LinkedIn</a>,
              <a class="footer__link" href="https://github.com/akmur">Github</a>.
            </p>
          </div>
        </footer>
      </div>
    </div>

    <!-- Current page: {{ page.url | url }} -->
  </body>

  {# <script
    src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.3/highlight.min.js"
    integrity="sha512-tHQeqtcNWlZtEh8As/4MmZ5qpy0wj04svWFK7MIzLmUVIzaHXS8eod9OmHxyBL1UET5Rchvw7Ih4ZDv5JojZww=="
    crossorigin="anonymous"
  ></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script> #}

  <!-- Default Statcounter code for My Personal Website https://alexmuraro.me -->
  <script type="text/javascript">
  var sc_project=12470952; 
  var sc_invisible=1; 
  var sc_security="52b110a1"; 
  var sc_https=1; 
  </script>
  <script type="text/javascript"
  src="https://www.statcounter.com/counter/counter.js" async></script>
  <noscript><div class="statcounter"><a title="Web Analytics Made Easy -
  StatCounter" href="https://statcounter.com/" target="_blank"><img
  class="statcounter" src="https://c.statcounter.com/12470952/0/52b110a1/1/"
  alt="Web Analytics Made Easy - StatCounter"></a></div></noscript>
  <!-- End of Statcounter Code -->
</html>
