:root {
  --red: #cb4855;
  --white: #f9f9f9;
  --black: #212121;
  --grey: #ccc;
  --iron: #d6d6d6;
  --background: var(--black);
  --top-border: var(--red);
  --text-color: var(--iron);
  --text-link-hover: var(--red);
}
